.container { 
    perspective: 1000px; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: sans-serif;
}



.card {
    width: 300px;
    height: 400px;
    position: relative; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    
    
    transition: transform 0.8s;
    transform-style: preserve-3d;
}



.frontofcard, .backofcard {
    width: 100%;
    height: 100%;
    position: absolute; 
    border-radius: 10px;
    color: white;

    
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}



.frontofcard img, .backofcard img {

    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px; 
}




.frontofcard {
    background-color: lightblue; /
    z-index: 2; 
}

.backofcard {
    background-color: #e74c3c; 
    z-index: 1; 
    transform: rotateY(180deg); 
}



.card:hover { 
    transform: rotateY(180deg);
}